.appList {
  display: flex;
  flex-direction: column;
  &.loading {
    align-items: center;
  }
  &__detail{
    margin-left: 20px;
    &__name, &__category {
      margin-bottom: 8px;
    }
    &__category, &__rating{
      font-size: 0.8rem;
      color: #6b6b6b;
    }
    &__rating{
      font-family: sans-serif;
    }
  }
  &__image {
    &.odd{
      border-radius: 15px;
      background-color: #6b6b6b;
      width: 75px;
      height: 75px;
      img{
        border-radius: 15px;
      }
    }
    &.even{
      border-radius: 50px;
      background-color: #6b6b6b;
      width: 75px;
      height: 75px;
      img{
        border-radius: 50px;
      }
    }
  }
  &__index {
    font-family: sans-serif;
    width: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #7f7f7f;
  }
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px #e5e5e5 solid;
    padding: 10px 0;
    &:last-child {
      border-bottom: 1px #e5e5e5 solid; 
    }
  }
}